---
/**
 * * These are alternating side cards with titles, check-marked list items, and images
 */

import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";

// components
import Button from "@components/Button/Button.astro";
import Badge from "@components/Badge/Badge.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

interface Props {
	badge: string; // small badge
	title: string; // larger title
	description: string; // paragraph text
	buttonText: string; // button text
	href: string; // link to learn more
	image: ImageMetadata; // an imported image
	imageSide: "left" | "right";
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { badge, image, title, buttonText, href, description, imageSide, ...rest } =
	Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

<div
	class="mx-auto grid gap-8 rounded-xl md:grid-cols-2 md:gap-12 lg:gap-16"
	data-aos=`${imageSide == "left" ? "fade-right" : "fade-left"}`
	{...rest}
>
	<!-- text -->
	<div class=`${imageSide === "left" ? "md:order-last": ""} col-span-1 flex items-center`>
		<div class="md:py-6">
			<Badge>{badge}</Badge>
			<div class="flex">
				<h2 class="h2">{title}</h2>
			</div>
			<div>
				<p class="description mt-2 mr-auto max-w-md text-pretty">
					{description}
				</p>
			</div>
			<div class="z-20 mt-8 flex">
				<Button variant="outline" href={getRelativeLocaleUrl(currLocale, href)} arrow="right">
					{buttonText}
				</Button>
			</div>
		</div>
	</div>

	<!-- image -->
	<div
		class="border-base-200 dark:border-base-800 mb-auto h-auto w-full overflow-hidden rounded-xl border"
	>
		<Image class="h-full w-full object-cover" src={image} alt={title} height={700} />
	</div>
</div>
